@page
@model RediRND.Pages.StakerDailyProfits.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>StakerDailyProfit</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StakerDailyProfit.Stake)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StakerDailyProfit.Stake)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StakerDailyProfit.Profit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StakerDailyProfit.Profit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StakerDailyProfit.Staker)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StakerDailyProfit.Staker.Id)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="StakerDailyProfit.StakerId" />
        <input type="hidden" asp-for="StakerDailyProfit.Date" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
