@page
@model RediRND.Pages.StakerDailyProfits.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StakerDailyProfit</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StakerDailyProfit.Stake)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StakerDailyProfit.Stake)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StakerDailyProfit.Profit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StakerDailyProfit.Profit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StakerDailyProfit.Staker)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StakerDailyProfit.Staker.Id)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-page="./Index">Back to List</a>
</div>
